<h2>Agregar / Editar Tareas</h2>
<div class="container">
<button class="btn btn-outline-success"
  [routerLink]="['/dashboard/tarea']">Regresar</button>
</div>
<hr>
<div class="container">
<div *ngIf="formularioTarea">
  <form (ngSubmit)="guardarCambios()"
    [formGroup]="formularioTarea">
    <div class="form-group row">
      <label class="col-2 col-form-label">Titulo</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="titulo">
      </div>
    </div>
        <div class="form-group row">
      <label class="col-2 col-form-label">Descripcion</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="descripcion">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha Inicio</label>
      	<div class="col-5">
	        <input class="form-control" type="datetime-local"
	        formControlName="fechaInicial">
	    </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha Final</label>
      	<div class="col-5">
	        <input class="form-control" type="datetime-local"
	        formControlName="fechaFinal">
	    </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Estado</label>
      <div class="col-md-3">
        <select id="selectbasic" formControlName="estado" class="form-control">
        	<option value="Alta">Alta</option>
        	<option value="Media">Media</option>
        	<option value="Baja">Baja</option>
        </select>
      </div>
    </div>  	
    <div class="form-group row">
      <div class="col-10">
        <button
          type="submit" class="btn btn-info btn-lg btn-block">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
<div>