<hr>
<h2>Lista de Tareas</h2>
<hr>
<div class="container">
<button class="btn btn-primary"
[routerLink]="['/dashboard/tarea', 'nuevo']">Agregar</button>
</div>

<br>
<div class="container">
  <table class="table" class="col-md-12">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Fecha Inicio</th>
        <th>Fecha Final</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of tareas">
        <td>{{tarea.idTarea}}</td>
        <td>{{tarea.titulo}}</td>
        <td>{{tarea.descripcion}}</td>
        <td>{{tarea.fechaInicial}}</td>
        <td>{{tarea.fechaFinal}}</td>
        <td>{{tarea.estado}}</td>
        <td>
            <div class="btn-group">
              <button class="btn btn-warning" [routerLink]="['/dashboard/tarea', tarea.idTarea]">
                Editar
              </button>
             <button (click)="borrarTarea(tarea.idTarea)" class="btn btn-danger">
              Eliminar
            </button> 
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>