<h2>Agregar / Editar Contacto</h2>
<div class="container">
<button class="btn btn-outline-success"
  [routerLink]="['/dashboard/contacto']">Regresar</button>
</div>
<hr>
<div class="container">
<div *ngIf="formularioContacto">
  <form (ngSubmit)="guardarCambios()"
    [formGroup]="formularioContacto">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="nombreContacto">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="apellido">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Direccion</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="direccion">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Telefono</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="telefono">
      </div>
    </div>
      <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="correo">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Categoria</label>
      <div class="col-md-3">
        <select id="selectbasic" formControlName="idCategoria" class="form-control">
          <option *ngFor="let item of category" value="{{item.idCategoria}}">{{item.nombreCategoria}}</option>
        </select>
      </div>
    </div>  	
    <div class="form-group row">
      <div class="col-10">
        <button
          type="submit" class="btn btn-info btn-lg btn-block">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
<div>