<hr>
<h2>Lista de Contactos</h2>
<hr>
<div class="container">
<button class="btn btn-primary"
[routerLink]="['/dashboard/contacto', 'nuevo']">Agregar</button>
</div>

<br>
<div class="container">
  <table class="table" class="col-md-10">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Categoria</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of contactos">
        <td>{{contacto.idContacto}}</td>
        <td>{{contacto.nombreContacto}}</td>
        <td>{{contacto.apellido}}</td>
        <td>{{contacto.direccion}}</td>
        <td>{{contacto.telefono}}</td>
        <td>{{contacto.correo}}</td>
        <td>{{contacto.nombreCategoria}}</td>
        <td>
            <div class="btn-group">
              <button class="btn btn-warning" [routerLink]="['/dashboard/contacto', contacto.idContacto]">
                Editar
              </button>
             <button (click)="borrarContacto(contacto.idContacto)" class="btn btn-danger">
              Eliminar
            </button> 
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>