<hr>
<h2>Lista de Usuarios</h2>
<hr>
<button type="button" class="btn btn-primary"
        data-toggle="modal" data-target="#modalAgregarContacto">
    Agregar
</button>
<br>
<table class="table" class="col-md-8">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nick</th>
      <th>Contraseña</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarioService.usuarios">
      <td>{{usuario.idUsuario}}</td>
      <td>{{usuario.nick}}</td>
      <td>{{usuario.contrasena}}</td>
      <td>
          <div class="btn-group">
            <button class="btn btn-warning"
              data-toggle="modal"
              data-target="#modalEditarContacto"
              data-bind="click: $root.cargar">
              Editar
            </button>
            <button class="btn btn-danger"
              data-bind="click: $root.eliminar">
              Eliminar
            </button>
          </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade " tabindex="-1" id="modalAgregarContacto" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title center">Agregar Usuario</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nick</label>
                        <input type="text" class="form-control" name="inputNick" id="inputNick" data-bind="value: contactoNuevo.Nombre" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" name="inputPassword" id="inputPassword" data-bind="value: contactoNuevo.Direccion" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div> <!--FIN MODAL FOOTER-->
            </form>
       </div>

    </div>
</div>

<!--MODAL EDITAR CONTACTO-->
<div class="modal fade " tabindex="-1" id="modalEditarContacto" role="dialog" aria-labelledby="mySmallModalLabel" data-bind="if: contactoCargado">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Editar Usuario</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nick</label>
                        <input type="text" class="form-control" name="inputNick" id="inputNick" data-bind="value: contactoNuevo.Nombre" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" name="inputPassword" id="inputPassword" data-bind="value: contactoNuevo.Direccion" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Editar</button>
                </div> <!--FIN MODAL FOOTER-->
            </form>
        </div>

    </div>
</div>