<h2>Agregar / Editar Categoria</h2>
<div class="container">
<button class="btn btn-success"
  [routerLink]="['/dashboard/categoria']">Regresar</button>
<div>  
<hr>
<div class="container col-md-6" >
	<div *ngIf="formularioCategoria">
	  <form (ngSubmit)="guardarCambios()"
	    [formGroup]="formularioCategoria">
	    <div class="form-group row">
	      <label class="col-2 col-form-label">Nombre</label>
	      <div class="col-10">
	        <input class="form-control" type="text"
	        formControlName="nombreCategoria" placeholder="Ingrese un nombre">
	      </div>
	    </div>
	    <div class="form-group row">
	      <div class="col-10">
	        <button
	          [disabled]="!formularioCategoria.valid"
	          type="submit" class="btn btn-primary btn-lg btn-block">
	          Guardar
	        </button>
	      </div>
	    </div>
	  </form>
	</div>
</div>
