<hr>
<h2>Lista de Categorias</h2>
<hr>
<div class="container">
<button class="btn btn-primary"
[routerLink]="['/dashboard/categoria', 'nuevo']">Agregar</button>
</div>
<br>
<div class="container">
<table class="table" class="col-md-6">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <td>{{categoria.idCategoria}}</td>
      <td>{{categoria.nombreCategoria}}</td>
      <td>
          <div class="btn-group">
            <button class="btn btn-success"
            [routerLink]="['/dashboard/categoria', categoria.idCategoria]">Editar</button>
           
            <button (click)="borrarCategoria(categoria.idCategoria)" class="btn btn-danger">
              Eliminar
            </button>
          </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

